/*
 * -------------------------------------------------
 *  Nextflow config file for development
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test on local machine. 
 */

params {
    config_profile_name        = 'Local profile'
    config_profile_description = 'Minimal test dataset to enhance pipeline'

    // Limit resources
    max_cpus            = 8
    max_memory          = 10.GB
    max_time            = 12.h

    // Input data to perform analysis
    input               = '/Users/mvheetve/Desktop/nf-core-hackathon/lrWGS-testdata/samplesheet.csv'
    protocol            = 'DNA'
    skip_quantification = true
    skip_bigwig         = true
    skip_bigbed         = true
    skip_fusion_analysis= true
    skip_demultiplexing = true
    skip_modification_analysis=true

}
